
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    color: #666666;
    background: #ffffff;
}

*, *::before, *::after { box-sizing: border-box; }

div, ul, li, p, section { padding: 0; margin: 0; }
a { color: #4b8f9f; text-decoration: none; }
a:hover { color: #666666; text-decoration: none; }

p { margin: 10px 0; padding: 0; text-align: justify; width: 100%; }
h1 { font-size: 50px; text-align: center; color: #333333; font-family: 'Montserrat', sans-serif; font-weight: 300; font-style: normal; margin: 0; padding: 0 0 20px 0; }
h2 { font-size: 35px; text-align: center; color: #333333; font-family: 'Montserrat', sans-serif; font-weight: 300; font-style: italic; margin: 0; padding: 20px 0; }
h3 { font-size: 25px; text-align: left; color: #333333; font-family: 'Montserrat', sans-serif;font-weight: bold; font-style: normal; margin: 0; padding: 25px 0 10px 0; }
ul { list-style-type: disc; margin: 10px 0 10px 25px; }
ul li { padding: 0 0 0 20px; margin: 0; }
ul li ul { list-style-type: circle; margin: 0 0 0 20px; }
ul li ul li { background: none; padding-left: 0; }
blockquote { text-align: justify; font-style: italic; }


header {
	position: fixed;
	top: 0;
	background: #a8d7e3;
	width: 100%;
}
nav {
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px 2%;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav ul li {
	padding: 0;
	margin: 0 8px;
	float: left;
	list-style-type: none;
	width: 18%;
	font-weight: 600;
}
nav::after {
	content: '';
	clear: both;
	display: block;
}
nav a {
	color: #4e62a9;
}
nav a:hover {
	color: #8595cf;
}


#content { 
	width: 96%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 2%; 
}

#summary {
	max-width: 800px;
	margin: 0 auto;
}
.summary_table {
	display: grid;
	grid-template-columns: 100px 1fr 1fr 100px;
	gap: 10px 20px;
	align-items: center;
	border-bottom: 1px solid #dae1f7;
}
.summary_table:hover {
	background: #d6f0f6;
}
.summary_table img {
	max-width: 100px;
}
.summary_table a {
	color: red;
}
.summary_table a:hover {
	color: #666666;
}
.summary_table:last-child {
	border-bottom: none;
}

#order-form {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px 20px;
	align-items: center;
}
#order-form input[type="text"], #order-form input[type="email"], select {
	width: 100%;
	font-size: 20px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    color: #666666;
    background: #ffffff;
	border: 1px solid #78d8c7;
	border-radius: 5px;
	padding: 3px;
}
#order-form input[type="submit"] {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    color: #ffffff;
    background: #4e62a9;
	border: none;
	border-radius: 5px;
	padding: 8px 10px;
	font-size: 20px;
	cursor: pointer;
}
#order-form input[type="submit"]:hover {
	background: #8595cf;
}



@media only screen and (max-width: 600px){
	header {
		position: static;
	}
	
	nav {
		text-align: center;
	}
	nav ul li {
		display: block;
		float: none;
		margin: 8px 0;
		width: 100%;
	}
	
	#content { 
		padding: 20px 2% 100px 2%; 
	}
	
	.summary_table {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	#order-form {
		grid-template-columns: 1fr;
	}
	
}
























