* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
}
.control {
    cursor: pointer;
}
#container {
    height: 100%;
    min-height: 100%;
    background: beige;
    display: grid;
    grid-template: auto minmax(0,1fr) / 200px 1fr;
}
header {
    grid-area: 1 / 1 / 1 / span 2;
    display: grid;
    grid-template: 1fr / auto 1fr auto auto auto auto;
    grid-column-gap: 10px;
    color: whitesmoke;
    font-size: 120%;
}
header div {
    padding: 1px;
}
#adminname {
    font-weight: bold;
}
#logout {
    background-color: var(--plush-orange);
    border: 1px solid var(--plush-orange);
    padding: 0;
    border-radius: 7px;
}
header, nav div {
    padding: 9px;
}
header, nav {
    background-color: var(--plush-blue);
}
nav div {
    background-color: var(--plush-orange);
    border-bottom: 2px solid black;
}
nav div a {
    text-decoration: none;
    color: whitesmoke;
}
nav div:first-child {
    border-top: 2px solid black;
}
nav div:hover {
    font-weight: bold;
    transition: font-weight 0.5s;
}
#main {
    display: grid;
    grid-template: auto minmax(0,auto) minmax(0,1fr) / 1fr;
    background-color: whitesmoke;
    padding: 15px;
    word-wrap: anywhere;
}

#main h3 {
    border-bottom: 1px solid var(--plush-orange);
}
#main-list {
    overflow-y: auto;
}
#list-header, .list-row {
    display: grid;
    grid-template-columns: 1fr 1.7fr 8% 25% 8%;
    grid-column-gap: 10px;
}
#list-header {
    border-bottom: 1px solid var(--plush-spinach);
    padding: 5px;
}
.list-row {
    border-bottom: 1px solid var(--plush-horizontal-separator);
    padding: 5px 5px;
}
.list-row:nth-child(even) {
    background-color: var(--plush-row-even);
}
.list-row:hover {
    background-color: var(--plush-row-hover);
    color: whitesmoke;
}
.narrow-list {
    display: none;
}
.list-row span::after {
    content: " ";
}
@media screen and (max-width: 815px) {
    #list-header {
        display: none;
    }
    .list-row {
        grid-template-columns: 1fr;
    }
    .list-row:first-child {
        border-top: 1px solid var(--plush-horizontal-separator);
    }
    .narrow-list {
        display: inline;
        font-weight: bolder;
    }
}
@media screen and (max-width: 500px) {
    #main-list {
        overflow: hidden;
    }
    #container {
        grid-template: max-content max-content 1fr / 1fr;
        overflow-y: auto;
    }
    header {
        grid-area: 1 / 1 / 1 / 1;
    }
    nav div {
        background-color: var(--plush-orange);
        border: none;
        text-align: center;
    }
    nav div:first-child {
        border: none;
    }
    nav div a {
        text-decoration: underline solid whitesmoke;
        color: whitesmoke;
    }
    nav div:hover {
        font-weight: normal;
    }
    #logout-word {
        display: none;
    }
}

:root {

    /* COLORS */
    --plush-blue: #1f6991;
    --plush-orange: #e95d0f;
    --plush-spinach: #93a543;
    --plush-horizontal-separator: #becd7f;
    --plush-row-odd: #f5f5f5;
    --plush-row-even: #e1e1e1;
    --plush-row-hover: #495057;
}

